<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <section class="h-100 h-custom" style="background-color: #8fc4b7;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
              <div class="card rounded-3">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                  class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                  alt="Sample photo">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
      
                  <form class="px-md-2" action="register" method="post">
                    {% csrf_token %}
      
                    <div class="form-outline mb-4">
                      <input type="text" id="form3Example1q" class="form-control" name="first_name">
                      <label class="form-label" for="form3Example1q">first_Name</label><br>

                      <input type="text" id="form3Example1q" class="form-control" name="last_name">
                      <label class="form-label" for="form3Example1q">last_Name</label><br>

                      <input type="text" id="form3Example1q" class="form-control" name="username">
                      <label class="form-label" for="form3Example1q">username</label><br>

                      <input type="email" id="form3Example1q" class="form-control" name="email">
                      <label class="form-label" for="form3Example1q">email id</label><br>

                      <input type="password" id="form3Example1q" class="form-control" name="password1">
                      <label class="form-label" for="form3Example1q">password</label><br>

                      <input type="password" id="form3Example1q" class="form-control" name="password2">
                      <label class="form-label" for="form3Example1q">Confirm password </label><br>

                      <input type="submit">
                    </div>
                    <div>
                        {% for message in messages %}
                        <h1>{{messages}}</h1>
                        {% endfor %}
                    </div>
      <!--
                    <div class="row">
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline datepicker">
                          <input type="text" class="form-control" id="exampleDatepicker1" />
                          <label for="exampleDatepicker1" class="form-label">Select a date</label>
                        </div>
      
                      </div> -->
                      <!--
                      <div class="col-md-6 mb-4">
      
                     <select class="select">
                          <option value="1" disabled>Gender</option>
                          <option value="2">Female</option>
                          <option value="3">Male</option>
                          <option value="4">Other</option>
                        </select>
      
                      </div>
                    </div>--->
      <!--
                    <div class="mb-4">
      
                      <select class="select">
                        <option value="1" disabled>Class</option>
                        <option value="2">Class 1</option>
                        <option value="3">Class 2</option>
                        <option value="4">Class 3</option>
                      </select>
      
                    </div> --->
      <!--
                    <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                      <div class="col-md-6">
      
                        <div class="form-outline">
                          <input type="text" id="form3Example1w" class="form-control" />
                          <label class="form-label" for="form3Example1w">Registration code</label>
                        </div>
      
                      </div>
                    </div> --->
      
                    
      
                  </form>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
</body>
</html>